
.homeBody{
    display: grid;
    grid-template-columns: 4% 1fr;
}

.links{
    text-decoration: none;
    color: hsl(var(--primary));
    background: transparent;
    border:none;
    font:inherit;
}

.userLinks{
    display: flex;
    gap: 2rem;
}

.appItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}
