.page{
    display: flex;
    flex-direction: row;
    
}

.content{
    display: flex;
    flex-direction:column;
    width:100%;
    align-items:center;
}

.searchButtonImg{
    width: 3rem;
    height:3rem;
}
.searchButtonImg:hover{
    width: 3.25rem;
    height:3.25rem;
}
.searchButton{
    align-items:center;
    border: none;
    background: transparent;
    height:fit-content;
}

.customDialog {
  width: 300px; 
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.dialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.holderOfMessages{
    margin-top:2rem;
    display:flex;
    flex-direction: column;
    gap: 4rem;
    align-content: center;
    justify-content:center;
}

.closeUsers{
    background: transparent;
    border: 1px solid hsl(var(--dark));
    border-radius: 10px;
    width:5rem;
}

.mappedUser{
    border-bottom: 3px solid hsl(var(--primary));
    border-radius: 3px;
    height: fit-content;
}
.mappedUser:hover{
    border-bottom: 3px solid hsl(var(--dark));
    color: hsl(var(--primary),.85)
}

.deleteInput{
    border: 1px solid hsl(var(--primary));
    color: hsl(var(--dark));
    background: hsl(var(--off-white));
    border-radius: 10px;
    background:transparent;
}

.deleteInputOptions{
    display:flex;
    justify-content: space-around;
}

.deleteInput:hover{
    background: hsl(var(--primary));
    color: hsl(var(--off-white))
}
