.page{
    display: flex;
    flex-direction: row;
    
}

.content{
    display: flex;
    flex-direction:column;
    width:100%;
    align-items:center;
}

.searchButtonImg{

}

.searchButton{
    border: 1px solid black;
    background: transparent;
    height:fit-content;
    z-index:1;
}

.customDialog {
  width: 300px; 
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.dialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.holderOfMessages{
    display:flex;
    flex-direction: column;
    gap: 4rem;
    align-content: center;
    justify-content:center;
}
